# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuración y logs
*.log
*.env
.env.*

# Archivos de bases de datos
*.sqlite3

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de prueba y cobertura
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Distribuciones
build/
dist/
*.egg-info/
.eggs/
